<header class="fixed top-0 w-full z-50 bg-black/40 backdrop-blur-sm px-6 py-2 flex flex-row items-center justify-between">
  <div class="flex-1 flex items-center justify-start">
    <span class="text-[8px] sm:text-[9px] font-medium uppercase tracking-[0.3em] text-gray-400">Pedro DDN</span>
  </div>

  <div class="flex items-center justify-center order-1 sm:order-none">
    <a routerLink="/home">
      <img
        src="../../../assets/img/logos/ddn-circle-chrome-logo-sf.png"
        class="w-14 h-14 sm:w-24 sm:h-24 object-contain transition-all duration-300 hover:scale-105"
        alt="DDN-Chrome-Logo"
      >
    </a>
  </div>

  <nav class="flex-1 flex items-center justify-end space-x-4 text-[8px] sm:text-[9px] font-medium uppercase tracking-[0.3em] order-2">
    <a routerLink="/home" routerLinkActive="text-white" class="text-gray-400 hover:text-white transition-colors">Home</a>
    <a routerLink="/about" routerLinkActive="text-white" class="text-gray-400 hover:text-white transition-colors">About</a>
    <!-- <a routerLink="/contact" routerLinkActive="text-white" class="text-gray-400 hover:text-white transition-colors">Contact</a> -->
  </nav>
</header>
