<header class="fixed top-0 w-full z-50 bg-black/40 backdrop-blur-sm px-6 py-1 flex flex-row items-center justify-between">
  <div class="hidden sm:block flex-1"></div>
  <div class="flex items-center justify-center order-1 sm:order-none">
    <img src="../../../assets/img/logos/ddn-logo-chrome-sf.png" class="w-10 h-auto sm:w-16 transition-all duration-300" alt="DDN-Chrome-Logo">
  </div>
  <nav class="flex-1 flex items-center justify-end space-x-4 text-[8px] sm:text-[9px] font-medium uppercase tracking-[0.3em] order-2">
    <a href="#" class="hover:text-gray-400 transition-colors">About</a>
    <a href="#" class="hover:text-gray-400 transition-colors">Contact</a>
  </nav>
</header>
